.main-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.product-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}

/*
height: 50%;
width: 50%;
object-fit: contain;
*/
.product-image-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
  
}

.product-image {
  max-height: 100%;
  max-width: 100%;
}

.product-name {
  height: 40px;
  font-size: 16px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.selector-quantity {
  font-size: 16px;
  background-color: rgb(231, 231, 231);
  border: 1px solid silver;
  border-radius: 8px;
  padding: 3px 13px 3px 3px;
  
}

.selector-quantity:focus {
  outline: 2px solid orange;
}


.product-spacer {
  min-height: 200px;
  flex: 1;
}


.button-add-cart {
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 216, 20);
  cursor: pointer;
  transition: opacity 0.15s;
}

.button-add-cart:hover {
  opacity: 0.7;
}


